# Installation files
__pycache__
./__init__.py
apps
demo
pyrosetta
rosetta
setup
test
PyMOL*
self-test.py
version.json
proteins/*/*.200_v1_3


# Ignore environment variables
.DS_Store
.vscode/

# Ignore protein files and what not
HEA/initialization_files/*.ini
results/*.txt


# Learning files here
deleteMe/
BasinHop/
ARGO/
ClassicAbinitio/
