# Installation files
__pycache__
__init__.py
apps
demo
pyrosetta
rosetta
setup
test
PyMOL*
self-test.py
version.json

# Ignore environment variables
.DS_Store
.vscode/

# Learning files here
deleteMe/
BasinHop/
ARGO/
ClassicAbinitio/
